@model PagedList.IPagedList<DoAnCoSo.Models.SanPham>

@using PagedList.Mvc;
@{
    ViewBag.Title = "DienThoaiOppo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" style="padding-top:50px">
    @for (int rowIndex = 0; rowIndex < Math.Ceiling((double)Model.Count() / 4); rowIndex++)
    {
        <div class="row">
            @for (int colIndex = 0; colIndex < 4; colIndex++)
            {
                if (rowIndex * 4 + colIndex < Model.Count())
                {
                    var item = Model.ElementAt(rowIndex * 4 + colIndex);
                    <div class="col-md-3 col-sm-6">
                        <a href="@Url.Action("Xemchitiet", "SanPham", new {@MaSP=item.MaSP })">
                            <img src=@Url.Content("~" +item.AnhBia.ToString()) class="img-responsive" alt="" width="350" height="350" />
                        </a>
                        <center>
                            <h3>@item.TenSP</h3>
                            <h3 style="color:red">@String.Format("{0:0,0}", @item.GiaTien) VND</h3>
                            <br />
                            @if (item.SoLuong == 0)
                            {
                                <button type="button" class="btn btn-danger" disabled>Sản phẩm đã hết hàng</button>
                            }
                            else
                            {
                                <a class="btn btn-success" href="@Url.Action("ThemGioHang", "GioHang", new { @id = item.MaSP, @strURL = Request.Url.ToString() })">Thêm giỏ hàng</a>
                            }
                        </center>
                    </div>
                }
            }
        </div>
    }
</div>
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("DienThoaiOppo",
                new { page }))
